.swiper-slide:nth-child(1n) {
  background-color: #d9d1ed;
}

.swiper-slide:nth-child(2n) {
  background-color: #e9c0b2;
}

.swiper-slide:nth-child(3n) {
  background-color: #f4e5c0;
}

.swiper-slide:nth-child(4n) {
  background-color: #ebe9ca;
}

.swiper-slide:nth-child(5n) {
  background-color: #eca3a3;
}

.mySwiper .swiper-slide {
  transition: transform 3s ease-in-out;
}


html {
  scroll-behavior: smooth;
}
/* 
*{
  border:1px solid black;
} */